/* ======Font Family Links======= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&family=Poppins:wght@200;300;400;500;600;700&family=Volkhov:wght@400;700&display=swap');

/* ======Font Family Links End======= */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container-css {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* ========Root Start========== */
:root {
    /* ==Font Size== */

    /* FONT-SIZES */
    --fs-xsm: 14px;
    --fs-sm: 16px;
    --fs-xmd: 18px;
    --fs-md: 20px;
    --fs-lg: 33px;
    --fs-xlg: 44px;
    --fs-xl: 50px;
    --fs-xxl: 84px;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    /* ==Text Color */


    /* Colors */
    --text-212832: #212832;
    --text-df6951: #df6951;
    --text-181e4b: #181e4b;
    --text-5e6282: #5e6282;
    --text-ffffff: #ffffff;
    --text-686d77: #686d77;
    --text-14183e: #14183e;
    --text-1e1d4c: #1e1d4c;
    --text-080809: #080809;
    --text-84829a: #84829a;
    --text-8a79df: #8a79df;
    --text-39425d: #39425d;
}

.fs-xsm {
    font-size: var(--fs-xsm);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-xmd {
    font-size: var(--fs-xmd);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xlg {
    font-size: var(--fs-xlg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.text-212832 {
    color: var(--text-212832);
}

.text-df6951 {
    color: var(--text-df6951);
}

.text-181e4b {
    color: var(--text-181e4b);
}

.text-5e6282 {
    color: var(--text-5e6282);
}

.text-ffffff {
    color: var(--text-ffffff);
}

.text-686d77 {
    color: var(--text-686d77);
}

.text-14183e {
    color: var(--text-14183e);
}

.text-1e1d4c {
    color: var(--text-1e1d4c);
}

.text-080809 {
    color: var(--text-080809);
}

.text-84829a {
    color: var(--text-84829a);
}

.text-8a79df {
    color: var(--text-8a79df);
}

.text-39425d {
    color: var(--text-39425d);
}

/* ========Root End========= */
/* ========Component Based Classes */
.nav {
    font-size: var(--fs-xmd);
    color: var(--text-212832);
    font-family: "Google Sans";
}

.paragraph {
    font-family: "poppins";
    font-size: var(--fs-sm);
    color: var(--text-5e6282);
}

/* =========Component Based Classes End========= */
/* =========Comman Classes=========== */
.ff-poppins {
    font-family: "poppins";
}

.ff-volkhov {
    font-family: "volkhov";
}

.ff-montserrat {
    font-family: "montserrat";
}

.ff-open-sans {
    font-family: "open sans";
}

.ff-google-sans {
    font-family: "Google Sans";
}


/* ============Common Clases End============= */
/* ==========Nav Start======== */
.sign-up-btn {
    border: 1px solid #212832;
    border-radius: 5px;
    /* padding: 9px 22px; */
    width: 102px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff1da;
    transition: all 500ms linear;
}

.sign-up-btn:hover {
    background-color: #F1A501;
    color: white;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

header nav ul li ul {
    visibility: hidden;
    position: absolute;
    left: -60px;
    z-index: 25;
}

header nav ul li:hover>ul {
    visibility: visible;
}

header ul li ul li:hover {
    background-color: #DF6951;
    border-radius: 12px;
}

/* ========Nav End=============== */
/* ===========First Section========== */
.find-btn {
    border: 2px solid #F1A501;
    background-color: #F1A501;
    border-radius: 10px;
    padding: 19px 27px;
    box-shadow: 0px 20px 35px 0px #F1A50126;
}

.find-btn:hover {
    background-color: white;
    color: #F1A501;
    border: 2px solid #F1A501;
}

.blue-shadow {
    position: absolute;
    width: 478.94px;
    height: 496.86px;
    left: -420px;
    top: -59.84px;
    background: #D5AEE4;
    opacity: 0.3;
    filter: blur(75px);
}

.animate__bounce:hover {
    animation-play-state: paused;
}

.btn {
    border: none !important;
    width: 52px !important;
    height: 52px !important;
    background-color: #DF6951 !important;
    border-radius: 100px !important;
    box-shadow: 0px 15px 30px 0px #DF69514D !important;
    cursor: pointer !important;
}


.plane-absolute {
    position: absolute;
    left: -25%;
    top: -9%;
    animation-name: plane;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes plane {
    0% {
        transform: translate(-50px, 50px);
    }
}

.plane-absolute-2 {
    position: absolute;
    right: -9%;
    top: 0;
    animation-name: plane;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shadow-absolute {
    position: absolute;
    right: 0;
    top: 0;
}

.orange-shadow::after {
    content: url(/assets/img/svg/orange-shadow.svg);
    position: absolute;
    background-size: contain;
    bottom: -8px;
    left: -15px;
    z-index: -1;
}

/* =========First Section End============ */
/* ==============Second Section=========== */
.plus-absolute {
    position: absolute;
    right: 0;
    top: 15%;
}

.cards {
    padding: 0 30px 45px 30px;
    border-radius: 36px;
    background: #FFFFFF;
    transition: all 500ms linear;
    cursor: pointer;
}

.cards:hover {

    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.cards-abso {
    position: absolute;
    left: -15%;
    bottom: -15%;
    opacity: 0;
    transition: all 500ms linear;
}

.cards:hover .cards-abso {
    opacity: 1;
}

/* ========Second Section End========= */
/* ========Third Section============== */
.img-box {
    padding: 28px 25px 42px 20px;
    background-color: white;
    width: 315px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    position: absolute;
    bottom: -1px;
    left: -1px;
}

.destination {
    background: url(destination-2.jpg);
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    cursor: pointer;
}

.img {
    transition: all 500ms linear;
}

.img:hover {
    scale: 1.5;
}

.spring-abso {
    position: absolute;
    right: -5%;
    bottom: 10%;
    z-index: -1;
}

/* ========Third Setion End========= */
/* ============style sheet 2======= */
.container-1 {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.box-1 {
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    /* box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481); */
    border-radius: 26px;
}

.box-2 {
    width: 263px;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;

}

.line {
    width: 16px;
    height: 0px;
    background: #84829A;
    border: 1px solid #84829A;
    transform: rotate(90deg);
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background: #F5F5F5;
}

.line-2 {
    width: 73px;
    height: 5px;
    background: #8A79DF;
    border-radius: 30px;
}

.img-zoom-1 {
    animation-name: img-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    position: relative;
}

@keyframes img-2 {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.5, 1.5)
    }

    100% {
        transform: scale3d(1, 1);
    }
}



.line-1 {
    width: 156px;
    height: 5px;
    background: #F5F5F5;
    border-radius: 0px;
}

.position-absolute-line {
    position: absolute;
    top: 3%;
}

.position-absolute-bg {
    position: absolute;
    top: -5%;
    left: 15%;
}

.img {
    overflow: hidden;
    transition: all 300ms linear;
}


.img:hover img {
    transform: scale(1.5);
}

.bg-filter {
    width: 354px;
    height: 367px;
    background: #59B1E6;
    opacity: 0.8;
    filter: blur(75px);
    z-index: -1;
}

.position-absolute-box {
    position: absolute;
    top: 50%;
    left: 46%;
    transition: all 3s cubic-bezier(1, 0.82, 0.165, 1);
    animation-name: loca-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes loca-icon {
    50% {
        transform: translate(10px, 0px);
    }
}

.border_1 {
    max-width: 504px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

div::-webkit-scrollbar {
    display: none;
}

.position-absolute-man {
    position: absolute;
    top: -17%;
    left: -9%;
}

.par {
    max-width: 402px;
    line-height: 32px;
}

.width-1 {
    max-width: 130px;
}

.width-2 {
    max-width: 173px;
}

.width-3 {
    max-width: 162px;
}

.width-4 {
    max-width: 162px;
}

.width-5 {
    max-width: 94px;
}

.filter_darkgrey {
    filter: grayscale(100%);
    transition: 300ms linear;

}

.border-1 {
    width: 165px;
    height: 40px;
    background: url(image.png);
    mix-blend-mode: luminosity;
}

.filter_darkgrey:hover {
    filter: grayscale(0%);
}

.position-absolute-arrow-top {
    position: absolute;
    right: 5%;
    top: 22%;
}

.position-absolute-arrow-down {
    position: absolute;
    right: 5%;
    top: 37%;
}

.animate__flash:hover {
    animation-play-state: paused;
}

.slick-dots li button:before {
    font-size: 12px !important;
}

.slick-dots {
    position: absolute;
    bottom: 25% !important;
    right: 147%;
    display: block;
    width: 100%;
    padding: 37px;
    margin: 0;
    list-style: none;
    text-align: center;
}

/* ============style sheet 2 end===== */
/* ==style sheet 3============ */
/* input-section */
.input_text {
    background-color: #ffffff;
    border-radius: 10px;
    width: 40%;
}

.input-btn {
    border: none;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    padding: 25px 50px;
    border-radius: 10px;
}

.input-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(245, 56, 56, 0.35), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-7px);
}

.box {
    background-color: #f5f5f8;
    opacity: 0.9;
    border-radius: 129px 20px 20px 20px;
}

.w-881px {
    max-width: 881px;
}

.line-54px {
    line-height: 54px;
}

.outline_n {
    outline: none;
    border: none;
}

.input {
    padding: 25px 31px 25px 31px;
    width: 100%;
}

.round-img {
    position: absolute;
    bottom: -8px;
    left: -5px;
}

.round-img-2 {
    position: absolute;
    right: 0%;
    top: 0%;
}

.arrow {
    border: none;
    padding: 20px 20px 20px 20px;
    border-radius: 100%;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
}

.cl-arrow {
    position: absolute;
    top: -4%;
    right: -2%;
}

/* footer section */
.social-icon {
    border: none;
    padding: 17px 16px 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: all ease-in-out 300ms !important;
}

.social-icon:hover {
    background: conic-gradient(from 180deg at 50% 50%,
            #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg,
            #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg,
            #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg,
            #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    box-shadow: 0px 2px 10px rgb(0, 0, 0);
    transition: all ease-in-out 300ms !important;
}

.social-icon:hover path {
    fill: white !important;
}

.arrow_ani {
    animation-name: img !important;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

footer ul li a {
    font-size: 18px;
    color: #5E6282;
    font-family: 'poppins',
        sans-serif;
    font-weight: 500;
}

footer ul li a:hover {
    font-weight: 600;
    text-shadow: 0px 2px 10px rgba(150, 148, 148, 0.372);
    color: #6e6f70;
}

@keyframes img {
    0% {
        transform: translateX(-0%) translateY(0%);
    }

    100% {
        transform: translateX(-40%) translateY(30%);
    }
}

.w-207px {
    max-width: 230px;
}

.play-border {
    border: none;
    background-color: black;
    border-radius: 60px;
}

.get-it-on {
    font-size: 8px;
    margin: 0px;
    font-family: 'poppins',
        sans-serif;
    font-weight: 600;
    color: white;
}

.Avalible-store {
    font-size: 8px;
    margin: 0px;
    font-family: 'poppins',
        sans-serif;
    font-weight: 600;
    color: white;
}

h2 span {
    font-weight: 200;
}

.apple-s {
    font-weight: 300;
    font-size: 7px;
}

/* =====Media Quries Start========== */
@media (max-width:1200px) {
    .w-lg-100 {
        width: 100%;
    }

    .plane-absolute {
        position: absolute;
        left: 20%;
        top: 12%;
    }

    .plane-absolute-2 {
        position: absolute;
        right: 4%;
        top: 18%;
    }
}

@media (max-width:992px) {
    .navbaar {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #FAF8ED;
        transition: all 500ms linear;

    }

    label[for="menuicon"] {
        width: 30px;
        height: 25px;
        background-color: #FAF8ED;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    label[for="menuicon"]>span {
        width: 100%;
        height: 4px;
        background-color: #ffd4b2;
    }

    .show {
        left: 0;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .nav-sticky {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1;
    }

    :root {
        --fs-xsm: 14px;
        --fs-sm: 16px;
        --fs-xmd: 18px;
        --fs-md: 20px;
        --fs-lg: 33px;
        --fs-xlg: 44px;
        --fs-xl: 50px;
        --fs-xxl: 70px;
    }

    .round-img {
        display: none;
    }

    .round-img-2 {
        display: none;
    }

    .apple-st {
        margin-top: 5px;
        margin-right: 5px;
    }

    .mail-box {
        display: none;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }
}

@media (max-width:768px) {
    :root {
        --fs-xsm: 14px;
        --fs-sm: 16px;
        --fs-xmd: 18px;
        --fs-md: 20px;
        --fs-lg: 25px;
        --fs-xlg: 30px;
        --fs-xl: 40px;
        --fs-xxl: 64px;
    }
}

@media (max-width:576px) {
    :root {
        --fs-xsm: 14px;
        --fs-sm: 16px;
        --fs-xmd: 18px;
        --fs-md: 20px;
        --fs-lg: 25px;
        --fs-xlg: 30px;
        --fs-xl: 35px;
        --fs-xxl: 40px;
    }

    .orange-shadow::after {
        display: none;
    }

    .flex_column {
        flex-direction: column;
    }

    .mr-top {
        margin-top: 50px;
    }

    .fs-25px {
        font-size: 25px;
    }
}

@media (min-width:1200px) {
    .img-absolute {
        position: absolute;
        right: -5%;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* ======Media Quries End=========== */