.container-1 {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.box-1 {
    width: 370px;
    height: 400px;
    background: #FFFFFF;
    /* box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481); */
    border-radius: 26px;
}

.box-2 {
    width: 263px;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;

}

.line {
    width: 16px;
    height: 0px;
    background: #84829A;
    border: 1px solid #84829A;
    transform: rotate(90deg);
}

.circle {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background: #F5F5F5;
}

.line-2 {
    width: 73px;
    height: 5px;
    background: #8A79DF;
    border-radius: 30px;
}

.img-zoom-1 {
    animation-name: img-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    position: relative;
}

@keyframes img-2 {
    0% {
        transform: scale(1, 1)
    }

    50% {
        transform: scale(1.5, 1.5)
    }

    100% {
        transform: scale3d(1, 1);
    }
}



.line-1 {
    width: 156px;
    height: 5px;
    background: #F5F5F5;
    border-radius: 0px;
}

.position-absolute-line {
    position: absolute;
    top: 3%;
}

.position-absolute-bg {
    position: absolute;
    top: -5%;
    left: 15%;
}

.img {
    overflow: hidden;
    transition: all 300ms linear;
}


.img:hover img {
    transform: scale(1.5);
}

.bg-filter {
    width: 354px;
    height: 367px;
    background: #59B1E6;
    opacity: 0.8;
    filter: blur(75px);
    z-index: -1;
}

.position-absolute-box {
    position: absolute;
    top: 50%;
    left: 46%;
    transition: all 3s cubic-bezier(1, 0.82, 0.165, 1);
    animation-name: loca-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes loca-icon {
    50% {
        transform: translate(10px, 0px);
    }
}

.border_1 {
    max-width: 504px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}
div::-webkit-scrollbar{
    display: none;
}

.position-absolute-man {
    position: absolute;
    top: -17%;
    left: -9%;
}

.par {
    max-width: 402px;
    line-height: 32px;
}

.width-1 {
    max-width: 130px;
}

.width-2 {
    max-width: 173px;
}

.width-3 {
    max-width: 162px;
}

.width-4 {
    max-width: 162px;
}

.width-5 {
    max-width: 94px;
}

.filter_darkgrey {
    filter: grayscale(100%);
    transition: 300ms linear;

}

.border-1 {
    width: 165px;
    height: 40px;
    background: url(image.png);
    mix-blend-mode: luminosity;
}

.filter_darkgrey:hover {
    filter: grayscale(0%);
}

.position-absolute-arrow-top {
    position: absolute;
    right: 5%;
    top: 22%;
}

.position-absolute-arrow-down {
    position: absolute;
    right: 5%;
    top: 37%;
}

.animate__flash:hover {
    animation-play-state: paused;
}
.slick-dots li button:before {
    font-size: 12px !important;
}
.slick-dots {
    position: absolute;
    bottom: 25% !important;
    right: 147%;
    display: block;
    width: 100%;
    padding: 37px;
    margin: 0;
    list-style: none;
    text-align: center;
}

@media (max-width:992px) {
    .flex-reverse {
        flex-direction: column-reverse;
    }

}